
.nav-bar{
    position: fixed;
    bottom: 0;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(43, 65, 136, 0.91);
    width: 100%;
    color: white;
}
.nav-bar>button{
    background: 0;
    border: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.icons-menu{
    width: 26px;
    padding-top: 10px;
    padding-bottom: 8px;

}
.focus{

    border-bottom: 2px solid white;

}