.App-header{
    width: 100%;
    background-color: rgba(0, 20, 78, 0);
    display: grid;
    grid-template-columns:1fr 6fr 2fr;

    height: 50px;
    padding-top: 5px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;


}
.name-app{
    color: white;
    display: flex;
    justify-content: left;
    align-items: end;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;

    }

.logo-app{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.logo-app > img{
    position: relative;
    top: -4px;
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;


}
.name-class{
    display: flex;
    align-items: center;
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}
.name-class>span{
    position: absolute;
    z-index: 1;
    color: white;
    border: 2px solid #ffffff;
    padding: 6px;
    border-radius: 4px;
    position: relative;
    top: 1px;
}